h1{ 
    color:whitesmoke; 
    text-align: center;
    font-family: "Sour Gummy", serif;
     letter-spacing: 3px;
     font-size: 44px;
    }
body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);         background-repeat: no-repeat;
     background-size:contain;
     height:auto;
}
p{
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 600;
    color:whitesmoke;
    margin: auto;
    letter-spacing: 2px;
    
}
#sectionHeading{
    margin-top:3px;
    color: #fefefe;
}
.quiz-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(144, 167, 163, 0.568);
    margin-top: 50px;
    font-family: "Sour Gummy", serif;
    font-weight: 600;
  }
  .question {
    text-align: center;
    color: rgb(228, 15, 15);
    font-weight: 700;
    font-size: 35px;
  }
  .options {
    text-align: left;
    margin-bottom: 20px;
  }
  .options label {
    display: block;
    margin: 5px 0;
  }
  .btn {
    padding: 10px 20px;
    background-color: rgb(7, 7, 7);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Sour Gummy", serif;
  }
  .btn:disabled {
    background-color: #ccc;
  }
  #result {
    font-size: 20px;
    font-weight: bold;
    color: rgb(152, 253, 152);
    margin-top: 20px;
    text-align: center;
    font-family: "Sour Gummy", serif;
  }
   