h1{ 
    color:whitesmoke; 
    text-align: center;
    font-family: "Sour Gummy", serif;
     letter-spacing: 3px;
     font-size: 44px;
    }
body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);         background-repeat: no-repeat;
     background-size:contain;
     height:150vh;
}
p{
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 600;
    color:whitesmoke;
    margin: auto;
    letter-spacing: 2px;
    
}
.quizSection{
    background-color: rgb(77, 40, 77);
    width:800px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    margin-top: 80px;
}
h2{ 
    color:whitesmoke; 
    text-align: center;
    font-family: "Sour Gummy", serif;
     letter-spacing: 3px;
     font-size: 44px;
     padding-top: 30px;
    }